<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.instacalcid1">

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".loggined_user_details"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InstaCalciD1">
        <activity android:name=".chatactivity"></activity>
        <activity android:name=".singlepostactivity" />
        <activity android:name=".addstatus_activity" />
        <activity android:name=".second_profile_activity" />
        <activity android:name=".notifications_activity" />
        <activity android:name=".profile_editor_activity" />
        <activity
            android:name=".single_post_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".signup_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".splash_activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".addpost_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile_activity"
            android:label="@string/title_activity_profile_activity"
            android:theme="@style/Theme.InstaCalciD1.NoActionBar" />
        <activity
            android:name=".search_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>